nav {
  background-color: gray;
  position: absolute;
  display: flex;
  left: 0;
  overflow: auto;
  width: 120px;
  height: 100%;
  z-index: 100;
}

ul.mylist li, ol.mylist li {
  padding: 5px 0px 5px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  list-style: none;
}

ul.mylist li,
ol.mylist li {
    transition: background-color 0.3s linear;
}
  
ul.mylist li:hover,
ol.mylist li:hover {
    background-color: rgba(255, 255, 255, 0.322);
  
}

a {
  color: white;
  text-decoration: none;
}
